*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none; 
    box-sizing: border-box; 
}

body{
    width: 100%;
    font-size: 16px;
    background-color: black;
}

.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}
.Arriba-box{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Arriba-box #background1{
    width: 40%;
    height: 100%;
    align-self: left;
    background-image: url(../IMAGENES/PELIFLIX.png);
    background-size: 100% 100%;
    backdrop-filter: blur(50%);
}
.Arriba-box #Cuenta{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Arriba-box #Cuenta > span{
    width: 30%;
    height: 35%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
    background-color: #ad2929;
}
.Arriba-box #Cuenta > span:hover{
    background-color: red;
}
.Abajo-box{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box {
    width: 50%;
    height: 50%;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    text-align: center;
    color: white;
}
.login-box h1{
    font-size: 80px;
    margin-bottom: 30px;
}
.login-box h3{
    margin-bottom: 20px;
}
.login-box input{
    width: 30%;
    height: 50px;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid #ccc; /* Es recomendable dejar un borde para que el usuario vea dónde escribir */
    color: inherit;
    border-radius: 8px;
}
.login-box button{
    width: 10%;
    height: 50px;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    background-color: #ad2929;
}
.login-box button:hover{
    background-color: red;
}

.hidden {
    display: none !important;
}
.input-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.PaneLogin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); /* Más oscuro para enfocar el registro */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.CrearCuenta {
    background: #141414;
    padding: 40px;
    border-radius: 10px;
    width: 700px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.CrearCuenta h1 {
    color: white;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
}

.CrearCuenta label {
    color: #b3b3b3;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.CrearCuenta input {
    background: #333;
    border: none;
    border-radius: 4px;
    color: white;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    margin-bottom: 15px;
    font-size: 16px;
}

.CrearCuenta input:focus {
    background: #454545;
    outline: 2px solid skyblue;
}

.botones-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.btn-rojo {
    width: 30%;
    background-color: #ad2929;
    color: white;
    border: none;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    align-self: first baseline;
}

.btn-rojo:hover {
    background-color: red;
}

.btn-clear {
    position: absolute;
    right: 15px;
    color: #ad2929;
    font-weight: bold;
    cursor: pointer;
    font-size: 22px;
    display: none; /* Oculta por defecto */
    z-index: 10;
}



header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(122, 57, 57);
}
header h1{
    font-size: 60px;
    color: rgb(43, 5, 5);
}

nav{
    width: 100%;
    height: 15vh;
    position: sticky;
    top:0;
    left:0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
nav .background{
    width: 20%;
    height: 100%;
    background-image: URL(../IMAGENES/PELIFLIX.png);
    background-size: 100% 100%;
}
nav .opciones{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.opciones .genero{
    width: 20%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgb(255, 0, 64);
    border: 2px solid red;
    border-radius: 8px;
    transition: all 0.5s;
}
.opciones .genero:hover{
    transform: translateY(-5px);
    background: linear-gradient(45deg,#522b0b 0%, #e94a4a 100% );
    box-shadow: 0 10px 25px rgba(120, 100, 36, 0.8);
}
.opciones .genero:hover section.panelOculto{
    transform: translateY(0);
}
section.panelOculto{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    visibility:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s;
    background-color: #522b0b;
}
.panelOculto .cabeza{
    width: 100%;
    height: 10%;
    padding-left: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 35px;
    background-color: #e94a4a;
}
.panelOculto .body{
    width: 100%;
    height: 80%;
    padding: 10px;
    gap: 10px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(45deg,#f16026 0%, #ad2929 100% );
}
article.body div{
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    border-radius: 8px; 
}
.body div img{
    width: 100%;
    height: 90%;
    border-radius: 8px;
}

.body div span{
    width: 60%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 20px;
    background-color: aliceblue;
}
.body div span:hover{
    transform: scale(1.1 , 1.1);
    box-shadow: 0 0 10px black;
}

.panelOculto .pie{
    width: 100%;
    height: 10%;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ee9c9c;
}
.pie > span{
    width: 150px;
    height: 50px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s;
    background-color: #e94a4a;
}
.pie > span:hover{
    transform: scale(1.1 , 1.1);
    box-shadow: 0 0 10px black;
    filter: grayscale(0%);
}
section.panelOculto.mostrar {
    opacity: 1;
    visibility: visible;
}


main{
    width: 100%;
    height: 100vh;
    gap: 10px;
    overflow-y: auto;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(45deg,#522b0b 0%, #e94a4a 100% );
}
main > img{
    width: 200px;
    height: 200px;
    min-width: 100px;
    max-width: 200px;
    min-height: 260px;
    max-height: 200px;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid #B6E1E7;
    box-shadow: 0px 0px 2px black;
    filter: brightness(0.6);
    transition: all 0.5s;
}
section.PanelDetalles{
  width: 50%;
    height: 80vh;
    position: fixed;
    top: 90px;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0px 10px 10px 0px;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    background-color: #522b0b;
}
section.PanelDetalles.mostrar {
    transform: translateX(0);
}

.PanelDetalles > .detalles{
    width: 100%;
    height: 90%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detalles > section#detal{
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section#detal > h1{
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 30px;
}
section#detal > div.imagenes{
    width: 100%;
    height: 70%;
}
div.imagenes > img{
    width: 100%;
    height: 100%;
}
section#detal > p{
    width: 100%;
    height: 20%;
    overflow-y: auto;
}
.PanelDetalles > .CajaVolver{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.CajaVolver > span{
    width: 150px;
    height: 50px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s;
    background-color: #ad2929;
}
.CajaVolver > span:hover{
    transform: scale(1.1 , 1.1);
    box-shadow: 0 0 10px black;
    filter: grayscale(0%);
}

footer{
    width: 100%;
    height: 30vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(85, 76, 76);
}
footer section{
    width: 80%;
    height: 70%;
    margin-top: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    border: 1px solid black;
}
footer section article{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid black;
}