*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    width: 100vw;
    position: relative;
    font-size: 16px;
    background: linear-gradient(to top, #F9B872 30%, #FAE7A5 60%, #E58C58 100%);
    font-family: "Iosevka Charon", monospace;
    font-weight: 300;
    font-style: normal;
}

header{
    height: 10vh;
    display: flex;
    border-radius: 8px;
    border-bottom: 2px solid aqua;
    background-color:#d5e3e6;
}
header .cajaTitulo{
    height: 100%;
    flex: 1;
    background-color: #F7F3E7;
    background-image: url(../IMAGENES/titulo.png);
    background-repeat: no-repeat;
    background-size: 30% 100%;
    background-position:left;
}
header .cajaGestion{
    height: 100%;
    flex: 0.5;
    background-color: olivedrab;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
}

#accesoCartera{
    background: linear-gradient(45deg, #e68608,#8abde7, #dbcecb, #864f06, #a59490);
    background-size: 800% 800%;
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px;
    box-shadow: 0px 0px 10px black;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    animation: fondoSeleccionado 5s infinite;
    animation-play-state: paused;
    transition: all 3S;
}
#accesoCartera:hover{
    animation-play-state: running;
    transform: scale(1.07);
}

@keyframes fondoSeleccionado {
    0%{
        background-position: 0% 30%;
    }
    30%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    80%{
        background-position: 0% 50%;
    }
    100%{
        background-position: 0% 30%;
    }
}

#fondoCartera{
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.750);
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 1s;
    pointer-events: none;
}
#fondoCartera.activo{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modalCartera{
    width: 30%;
    height: 50%;
    padding: 50px;
    background: linear-gradient(45deg, #e68608,#8abde7, #dbcecb, #864f06, #a59490);
    border-radius: 5%;
    border: 2px solid gray;
    box-shadow: 0 0 5px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
#contenedorinput{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;  
    
}
label{
    font-size: 24px; 
}
.cajainput{
    width: 300px;
    height: 40px;
}

#contenedorbtn{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: last baseline;   
}

#contenedorbtn .btncontenedor{
    background-color: gray;
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px;
    box-shadow: 0px 0px 10px black;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;   
}
.btncontenedor:hover{
    transform: scale(1.07);
}

main{
    height: 90vh;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
}
.zonaSuperior{
    flex: 1;
    display: flex;
    min-height: 0;
}

.catalogo{
    width: 60%;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.catalogo::-webkit-scrollbar, .pScrolleable::-webkit-scrollbar{
  width:15px;
}
.catalogo::-webkit-scrollbar-track{
   background: linear-gradient(180deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    background: transparent;
}
.catalogo::-webkit-scrollbar-thumb{
   background: linear-gradient(180deg, #e68608 0%, #ddb16e 99%, #dbcecb 100%);
   border-radius:10px;
   border: 3px solid #60d7e7;
   transition: all 0.5s;
}
.catalogo::-webkit-scrollbar-thumb:hover{
     background: linear-gradient(180deg, #864f06 0%, #8abde7 99%, #a59490 100%);
}

.catalogo > img{
    width: 200px;
    height: 200px;
    min-width: 100px;
    max-width: 200px;
    min-height: 260px;
    max-height: 200px;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid #B6E1E7;
    box-shadow: 0px 0px 2px black;
    filter: brightness(0.6);
    transition: all 0.5s;
}
.catalogo > img:hover{
    transform: scale(1.2 , 1.2);
    box-shadow: 0 0 10px black;
    filter: grayscale(0%);
}

.detalles{
    width: 40%;
    padding: 10px; 
}
.paneldetalles{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.paneldetalles section.ariba{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ariba > img{
    width: 50%;
    height: 80%;
    border-radius: 8px;
    border: 2px solid olive;
    box-shadow: 0px 0px 15px black;
}
.ariba > img:hover{
    transform: translateX(80px);
    box-shadow: 0 0 10px black;
    filter: grayscale(0%);
}
.paneldetalles section.abajo{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.paneldetalles > .abajo p.sinopsis{
    height: 200px;
    padding: 20px;
    overflow-y: auto;
    min-height: 100px;
    max-height: 200px;
}
p.sinopsis::-webkit-scrollbar{
    width: 7px;
}
p.sinopsis::-webkit-scrollbar-track{
    background: darkcyan;
}
p.sinopsis::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 8px;
}
p.sinopsis::-webkit-scrollbar-thumb:hover{
    background: #555;
}
.abajo div.comprar{
    width: 100px;
    margin-top: 5px;
    padding: 4px;
    font-weight: bold;
    text-align: center;
    color: black;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid yellowgreen;
    box-shadow: 0px 0px 5px orange;
    background-color: yellow;
    
}
.abajo div.comprar:hover{
    transform: scale(1.2 , 1.2);
}

.zonaInferior{
    flex: 0.15;
    background-color: rgb(238, 225, 111);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
}
.zonaInferior > div:nth-child(1){
    flex: 0.05;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 3px solid olive;
}
.zonaInferior > div:nth-child(2){
    height: 100%;
    flex: 1;
    overflow-x: auto;
    gap: 5px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    min-width: 0;
}
.imgpequenaCarrito{
    width:100%;
    height: 100%;
}
.Carrito{
  font-size: 60px;
  color: olivedrab
}
.articuloCarrito{
    height: 95%;
    border: 2px solid black;
    border-radius: 8px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 80px;
}
